 body{
    width: 1136px;
    height: 170vh;
    background: #D9D9D9;
}

.container{
    background-color: rgba(37, 42, 64, 1);
    width: 393px;
    height: 160vh;
    top: 69px;
    left: 375px;
    border-radius: 20px;
    margin-left: 39%;
    margin-top: 7%;
    margin-bottom: 14%;
    color: white;   
}

.jjc{
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo{
    margin-left: 40%;
    padding-top: 15%;
    display: flex;
    position: relative;
}

.www{
    margin-left: 38%;
    font-size: 21px;
    font-weight: 300px;
}

.nnn{
    margin-left: 37%;
}

.rrr{
    margin-left: 30%;
                
}

.ttt{
    background-color: rgba(61, 63, 84, 1);
    margin: auto;
    border-radius: 20px;
    margin: auto;
    height: 38vh;
    width: 326px;
}

.ddd{
    margin-left: 26px;
    padding-top: 20px;
}

.james{
    font: open sans;
    line-height: 13.62px;
    font-size: 10px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 10px;
    letter-spacing: 0.5%;
    color: #D9D9D9;
}

.sola{
    background-color: rgba(61, 63, 84, 1);
    margin: auto;
    border-radius: 20px;
    margin: auto;
    height: 40vh;
    width: 326px;
}

.sola1{
    margin-left: 26px;
    padding-top: 20px;
}

.jide{
    display: flex;
    height: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.sholyjay{
    padding-left: 10px;
    padding-top: 0;
}

.tawa{
    display: flex;
}

.jug{
    margin-left: 25px;
    padding-top: 6px;
}

.praise{
    margin-top: 7px;
    padding-left: 25px;
    line-height: 13.62px;
    font-size: 10px;
    font-weight: 400;
    font: open sans;
}

.kkk{
    color: #FF9A71;
    list-style-type: disc;
}

.pen{
    align-items: center;
}

.btn2{
    background-color: #FF9A71;
    border-radius: 10px;
    flex-shrink: 0;
    border: none;
    width: 320px;
    height: 53px;
    margin-top: 27px;
   margin-left: 35px;
}

.dot{
    color: rgba(255, 255, 255, 0.82);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.underlined-text{
    text-decoration: underline;
    text-decoration-color: #FF9A71;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.2px;
}

.lasttext{
    display: flex;
    list-style: none;
    }

.t-icon{
    color: #D9D9D9;
    padding-right: 30px;
}

.t-icon1{
    color: #FF9A71;
    padding-right: 30px;
    padding-top: 9%;
    margin-left: -0.8rem;
    font-size: 2rem;
}

.pwd{
     color: #F5F5F5;
    text-shadow: rgba(0, 0, 0, 0.25);
    font-family: open sans;
    font-size: 10px;
    font-weight: 400;
}

.btn2:hover{
    color: green;
    text-decoration: none;
    background-color: green;
    transition: 1s ease all;
    border-radius: 5px;
}

footer{
    margin-left: 100%;
    padding-bottom: 20px;
    color: #FF9A71;
}